Repository Humethix/arch-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: shellcheck, yamllint, ansible-lint, markdown-lint, ansible-syntax, python-tests, build-docs, pages

shellcheck:
  stage: lint
  image: koalaman/shellcheck-alpine:stable
  script:
  - shellcheck src/install.sh scripts/*.sh

yamllint:
  stage: lint
  before_script:
  - pip install yamllint
  script:
  - yamllint -c .yamllint.yml .

ansible-lint:
  stage: lint
  before_script:
  - pip install ansible ansible-lint
  script:
  - ansible-lint src/ansible/

markdown-lint:
  stage: lint
  image: node:20-slim
  before_script:
  - npm install -g markdownlint-cli
  script:
  - markdownlint '**/*.md' --disable MD013

ansible-syntax:
  stage: test
  before_script:
  - pip install ansible
  script:
  - ansible-playbook --syntax-check src/ansible/playbooks/site.yml
  - ansible-playbook --syntax-check src/ansible/playbooks/go-live.yml

python-tests:
  stage: test
  before_script:
  - pip install -r requirements.txt
  script:
  - pytest tests/ -v
  allow_failure: true

build-docs:
  stage: build
  before_script:
  - pip install mkdocs mkdocs-material
  script:
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

pages:
  stage: deploy
  script:
  - pip install mkdocs mkdocs-material
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

update
  scripts/verify-deployment.sh
  src/ansible/roles/safe_updates/tasks/main.yml
Due: shellcheck, yamllint, ansible-lint, ansible-syntax, python-tests

update
  README.md
  scripts/deploy.sh
  src/ansible/playbooks/site.yml
  src/ansible/roles/base_hardening/tasks/main.yml
  src/ansible/roles/monitoring/files/security-audit
Due: shellcheck, yamllint, ansible-lint, markdown-lint, ansible-syntax, python-tests

update
  src/ansible/roles/monitoring/files/security-audit
Due: ansible-lint, ansible-syntax, python-tests

addon+feature implementation
  addons/ADDON_SPEC.md
  addons/README.md
  addons/_template/README.md
  addons/_template/[addon-name].service
  addons/_template/config.env.example
  addons/_template/install.sh
  addons/_template/uninstall.sh
  addons/addon-manager.sh
  addons/available/immich/README.md
  addons/available/immich/config.env
  addons/available/immich/config.env.example
  addons/available/immich/immich.service
  addons/available/immich/install.sh
  addons/available/immich/uninstall.sh
  addons/available/seafile/README.md
  addons/available/seafile/config.env
  addons/available/seafile/config.env.example
  addons/available/seafile/install.sh
  addons/available/seafile/seafile.service
  addons/available/seafile/uninstall.sh
  addons/available/uptime-kuma/README.md
  addons/available/uptime-kuma/config.env.example
  addons/available/uptime-kuma/install.sh
  addons/available/uptime-kuma/uninstall.sh
  addons/available/uptime-kuma/uptime-kuma.service
  src/ansible/roles/base_hardening/tasks/main.yml
  src/ansible/roles/base_hardening/tasks/virtualbox-optimizations.yml
  src/hardware-detect.sh
  src/install.sh
  src/virtualbox-optimizations.sh
  test-hardware-optimizations.sh
  test-immich-storage.sh
  test-seafile-storage.sh
Due: shellcheck, yamllint, ansible-lint, markdown-lint, ansible-syntax, python-tests

bugfix
  addons/addon-manager.sh
  addons/available/immich/install.sh
  addons/available/seafile/config.env.example
  addons/available/seafile/install.sh
  src/hardware-detect.sh
  src/install.sh
Due: shellcheck, python-tests

bugfix
  src/hardware-detect.sh
Due: shellcheck, python-tests

bugfix
  src/ansible/roles/monitoring/files/security-audit
Due: ansible-lint, ansible-syntax, python-tests

update
  src/install.sh
Due: shellcheck, python-tests

bugfix
  src/install.sh
Due: shellcheck, python-tests

bugfix
  scripts/deploy.sh
  src/ansible/roles/base_hardening/handlers/main.yml
  src/ansible/roles/base_hardening/tasks/main.yml
Due: shellcheck, yamllint, ansible-lint, ansible-syntax, python-tests

update
  src/ansible/roles/base_hardening/tasks/main.yml
Due: yamllint, ansible-lint, ansible-syntax, python-tests

Update setup-cloudflare.sh
  scripts/setup-cloudflare.sh
Due: shellcheck

added features
  addons/available/immich/config.env
  addons/available/immich/install.sh
Due: shellcheck

Update install.sh
  addons/available/immich/install.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.yml, **/*.yaml
  ansible-lint: any of: src/ansible/**/*
  markdown-lint: any of: **/*.md
  ansible-syntax: any of: src/ansible/**/*
  python-tests: any of: tests/**/*, src/**/*
  build-docs: any of: docs/**/*, mkdocs.yml
  pages: any of: docs/**/*
